<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light disable-text-selection">
  <span class="navbar-brand mb-0 h1">Tools</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-primary" [ngClass]="{active: activeTool=='draw'}" (click)="changeTool('draw')">Draw</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" [ngClass]="{active: activeTool=='line'}" (click)="changeTool('line')">Line</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" [ngClass]="{active: activeTool=='rect'}" (click)="changeTool('rect')">Rect</button>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Color: {{ activeColor }}
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item btn" (click)="changeColor('black')">Black</button>
          <button class="dropdown-item btn" (click)="changeColor('blue')">Blue</button>
          <button class="dropdown-item btn" (click)="changeColor('green')">Green</button>
          <button class="dropdown-item btn" (click)="changeColor('red')">Red</button>
          <button class="dropdown-item btn" (click)="changeColor('white')">White</button>
        </div>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Size: {{ activeWidth }}
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <input type="range" min="1" max="30" class="slider" id="myRange" [ngModel]="activeWidth" (ngModelChange)="changeWidth(widthBar.value)" #widthBar>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" [ngClass]="{active: activeTool=='text'}" (click)="changeTool('text')">Insert Text</button>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Text: {{ activeText }}
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <input type="text" [ngModel]="activeText" (ngModelChange)="changeText(text.value)" #text>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="saveImage()">Save</button>
      </li>
      
    </ul>
    <a class="btn btn-link" *ngIf="urlLoaded" [routerLink]="[activeUrlHref]">
      {{ activeUrl }}
    </a>
  </div>
</nav>